<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">

        <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Login to your account
                </h1>
                <form class="space-y-4 md:space-y-6" [formGroup]="loginForm">

                    <app-input label="Username" type="text" [control]="loginForm.get('userName')"
                        [required]="true"></app-input>
                    <app-input label="Password" type="password" [control]="loginForm.get('password')"
                        [required]="true"></app-input>

                    <div class="flex items-center justify-between">
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input id="remember" aria-describedby="remember" type="checkbox"
                                    [formControl]="rememberMeControl"
                                    class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
                                    required="">
                            </div>
                            <div class="ml-3 text-sm">
                                <label for="remember" class="text-gray-500 dark:text-gray-300">Remember me</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn-blue w-full" (click)="login()" [disabled]="loading">
                        <ng-container *ngIf="!loading">
                            <i class="fa-solid fa-right-to-bracket"></i>
                            login
                        </ng-container>
                        <ng-container *ngIf="loading">
                            <i class="fa-solid fa-spinner animate-spin text-xl"></i>
                        </ng-container>
                    </button>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Don’t have an account yet?
                        <a routerLink="/auth/register"
                            class="font-medium text-blue-600 hover:underline dark:text-blue-500">Register Now</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>